@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #333333;
    overflow-y: scroll;
}

header {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
    transition: background .4s;
}

li {
    list-style: none;
}

img {
    user-select: none;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    transition: background .3s;
}

.menu .logo h1 {
    font-size: 28px;
    font-weight: bold;
    user-select: none;
}

.menu ul {
    display: flex;
    gap: 15px;
}


.menu ul li a {
    padding: 3px;
    position: relative;
    text-decoration: none;
}

.white-color a {
    color: #D7D7D7;
}

.black-color a {
    color: #1f1f1f;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 209, 122, 1) 0%, rgba(0, 123, 199, 1) 100%);
    border-radius: 4px;
}

.menu ul li a::after {
    transform: scale(0, 1);
    transition: all .3s cubic-bezier(.36, .14, .58, .13);
}

.menu ul li a:hover::after {
    transform: scale(1, 1);
}

.selected {
    font-weight: 600;
}

.switcher {
    position: relative;
    padding: 6px 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    width: 60px;
}

.switcher::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 209, 122, 1) 0%, rgba(0, 123, 199, 1) 100%);
    width: 100%;
    height: 110%;
    z-index: 0;
    left: -3px;
    top: -3px;
    border-radius: 40px;
    transform: scale(0, 1);
    transition: all .3s cubic-bezier(.36, .14, .58, .13);
}

.switcher:hover::after {
    transform: scale(1, 1);
}

.switch-button {
    cursor: pointer;
    position: absolute;
    background-color: #F5F5F5;
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.718);
    border-radius: 40px;
    width: 53px;
    height: 22px;
    left: 0;
    right: 0;
    top: 0;
    transition: all .3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    z-index: 1;
}

.switch-button::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #1f1f1fd9;
    background-image: url(../img/sun.png);
    background-size: cover;
    left: 4px;
    bottom: 2px;
    border: 2px solid #1f1f1fbb;
    border-radius: 40px;
    transition: all .3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.switcher input:checked+.switch-button {
    background-color: #181818;
}

.switcher input:checked+.switch-button::before {
    background-image: url(../img/moon.png);
    background-size: cover;
    border: 2px solid #ffffffbb;
    background-color: #F5F5F5;
    transform: translateX(28px);
}

.pop-up {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin-top: -140px;
    user-select: none;
    z-index: 2;
}

.pop-up span {
    background-color: #ffffff;
    padding: 17px 20px;
    color: #333333;
    font-weight: 600;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.pop-up img {
    transform: translateY(5px);
    margin-right: 17px;
    width: 24px;
}

.main-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 50px;
}

.left-side {
    width: 70%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    border: 2px solid #f5f5f58d;
    border-radius: 3px;
    width: 250px;
    transition: border .1s;
}

.card:hover {
    border: 2px solid rgba(0, 123, 199, 1);
}

.card li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 25px;
}

.card img {
    align-self: center;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 3px 3px 0 0;
    padding: 0 22px;
}

.card .info-product {
    margin: 0 12px 15px;
}

.card .tag {
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgba(0, 209, 122, 1) 0%, rgba(0, 123, 199, 1) 100%);
    color: #fff;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
}

.card h3 {
    margin: 20px 0;
    font-weight: 800;
}

.card p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 17px;
    width: 232px;
    word-wrap: break-word;
}

.card span {
    font-weight: 600;
}

.card .buy-btn {
    position: relative;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 17px;
    border: none;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.583);
    background: linear-gradient(90deg, rgba(0, 209, 122, 1) 0%, rgba(0, 123, 199, 1) 100%);
    padding: 7px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    z-index: 1;
}

.card .buy-btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.5s ease;
    border-radius: 3px;
    opacity: 0;
    background: linear-gradient(90deg, rgba(0, 123, 199, 1) 0%, rgb(0, 209, 164) 100%);
}

.card .buy-btn:hover::before {
    opacity: 1;
}

.right-side {
    position: absolute;
    right: 0;
    margin-right: 74px;
    width: 25.8%;
}

.search-box {
    margin-bottom: 10px;
}

.search-box form {
    display: flex;
    justify-content: space-between;
}

.search-box form input {
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 75%;
    border-radius: 3px 0 0 3px;
    border-left: 4px solid transparent;
    transition: border .2s ease;
}

.search-box form input:focus {
    border-left: 4px solid rgba(0, 209, 122, 1);
}

.search-box form .search-btn {
    position: relative;
    padding: 5px 10px;
    width: 26%;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0, 209, 122, 1) 0%, rgba(0, 123, 199, 1) 100%);
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-radius: 0 3px 3px 0;
    z-index: 1;
}

.search-box form .search-btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.5s ease;
    border-radius: 3px;
    opacity: 0;
    background: linear-gradient(90deg, rgba(0, 123, 199, 1) 0%, rgb(0, 209, 164) 100%);
}

.search-box form .search-btn:hover::before {
    opacity: 1;
}

.search-box form .search-btn img {
    width: 30px;
}

.menu-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-cart .header-cart {
    background: linear-gradient(90deg, rgba(0, 209, 122, 1) 0%, rgba(0, 123, 199, 1) 100%);
    font-weight: 200;
    width: 100%;
    padding: 10px 0;
    border-radius: 3px 3px 0 0;
    transform: translateY(0);
}

.menu-cart .header-cart h3 {
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.42);
    text-align: center;
}

.menu-cart .cart {
    background-color: #F5F5F5;
    width: 100%;
    height: 0px;
    border-radius: 0 0 3px 3px;
    transition: height .4s;
}

.warning-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5px;
}

.warning-cart h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.warning-cart span {
    font-size: 14px;
    color: #333333;
}

.products-selected {
    overflow-y: auto;
    height: 100%;
    margin-right: 7px;
}

.products-selected::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.products-selected::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 3px;
}

.products-selected li {
    display: flex;
}

.product-img img {
    width: 115px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.product-info h3 {
    font-size: 16px;
    color: #333333;
}

.product-info span {
    font-weight: 600;
    font-size: 14px;
    color: #333333;
}

.product-info .remove-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.product-info .remove-btn span {
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    background-color: #33333313;
    padding: 1px 10px;
    border-radius: 10px;
    text-align: center;
    transition: color .1s;
}

.product-info .remove-btn span:hover {
    color: #000;
}

.amount-box,
.total {
    display: flex;
    justify-content: space-between;
    padding: 12px 17px;
    background: linear-gradient(90deg, rgba(0, 209, 122, 1) 0%, rgba(0, 123, 199, 1) 100%);
    color: #fff;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.583);
}

.amount-box h4,
.total h4 {
    font-weight: 400;
}

.amount-box span,
.total span {
    font-weight: 300;
}

.total {
    border-radius: 0 0 3px 3px;
}

.payment {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.payment button {
    position: relative;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.583);
    background: linear-gradient(90deg, rgba(0, 209, 122, 1) 0%, rgba(0, 123, 199, 1) 100%);
    width: 70%;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 1;
    transition: width .5s;
}

.payment button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity .3s ease;
    border-radius: 3px;
    opacity: 0;
    background: linear-gradient(90deg, rgb(0, 209, 164) 0%, rgb(0, 209, 164) 100%);
}

.payment button:hover::before {
    opacity: 1;
}

.payment button:focus::before {
    opacity: 0;
}

.payment button:focus span {
    opacity: 0;
}

.payment button:focus {
    width: 35%;
    border-radius: 40px;
    background-image: url(../img/payment.png), linear-gradient(90deg, rgb(0, 209, 164) 0%, rgb(0, 209, 164) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}